## 1. Preparing data as in the previous notebook

In [14]:
import numpy as np
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', attrs={"class": "wikitable"}, skiprows=1)[0]
df = df.rename({0:'PostalCode',1:'Borough',2:'Neighborhood'},axis=1)
df = df.drop(df[(df.Borough == 'Not assigned')].index)
df = df.groupby(['PostalCode','Borough'])[['Neighborhood']].agg(', '.join).reset_index()
df.loc[df['Neighborhood'] == 'Not assigned', 'Neighborhood'] = "Queen's Park"
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

## 2. Importing coordinates data

In [18]:
# I tried but couldn't get cordinates with geocoder
cords = pd.read_csv('https://cocl.us/Geospatial_data')
cords=cords.rename(columns = {'Postal Code':'PostalCode'})
cords.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

## 3. Combining two dataframes

In [20]:
df1 = pd.merge(df, cords, how='inner')
df1.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476